/* general behaviours */
:root {
    scroll-behavior: smooth;
}

/* roles section */
#roles {
    flex-grow: 1;
    column-width: 150px;
    column-fill: balance-all;
    column-rule: 1px solid #babaff;
}
#roles .role {
    margin: 0 12px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
/* first column margin doesn't collapse, others do */
#roles h2 + .role h3 {
    margin-top: 0;
}
