    </div>

    <div id="foot">
        Site design and content by me (see <a href="{{ site.link('license') }}" accesskey="l"><span class="access">l</span>icense information</a>).
    </div>
</body>
</html>
