<img src="{{ roles[role_id].icon_page.link | e }}"
     alt="{{ roles[role_id].role | e }}"
     title="{{ roles[role_id].role | e }}"
     width="{{ roles[role_id].icon_page.width | e }}"
     height="{{ roles[role_id].icon_page.height | e }}" />
