{% set page_title = 'Farragone' %}
{% include 'include/header.html.j2' %}
{% set license = 'GPL_V3' %}
{% include 'include/license.html.j2' %}

<p>Farragone is a GUI batch file renamer for those who understand regular expressions, glob-style patterns and maybe a little scripting.  The idea is to create a simple workflow based on a few flexible components - as opposed to the standard approach, which appears to be to define hundreds of presets, and if you're lucky one of those will be what you're looking for.</p>
<h2>Download</h2>
<ul>
    <li><strong><a href="{{ site.link('download/app/farragone/farragone-0.2.4.tar.gz') }}">Source (0.2.4, 73.2KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/app/farragone/farragone-win-0.2.4.zip') }}">Windows binary (0.2.4, 18.7MiB)</a></strong></li>
    <li><strong><a href="https://aur.archlinux.org/packages/farragone/">Arch Linux package (AUR)</a></strong></li>
    <li><strong><a href="https://github.com/ikn/farragone">Git repository</a></strong></li>
</ul>
<h3>Older versions</h3>
<ul>
    <li><strong><a href="{{ site.link('download/app/farragone/farragone-0.2.3.tar.gz') }}">Source (0.2.3, 70.0KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/app/farragone/farragone-win-0.2.3.zip') }}">Windows binary (0.2.3, 18.7MiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/app/farragone/farragone-0.2.2.tar.gz') }}">Source (0.2.2, 68.2KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/app/farragone/farragone-win-0.2.2.zip') }}">Windows binary (0.2.2, 18.7MiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/app/farragone/farragone-0.2.1.tar.gz') }}">Source (0.2.1, 65.4KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/app/farragone/farragone-win-0.2.1.zip') }}">Windows binary (0.2.1, 18.7MiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/app/farragone/farragone-0.2.0.tar.gz') }}">Source (0.2.0, 63.6KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/app/farragone/farragone-win-0.2.0.zip') }}">Windows binary (0.2.0, 18.7MiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/app/farragone/farragone-0.1.2.tar.gz') }}">Source (0.1.2, 47.6KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/app/farragone/farragone-win-0.1.2.zip') }}">Windows binary (0.1.2, 18.4MiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/app/farragone/farragone-0.1.1.tar.gz') }}">Source (0.1.1, 38.3KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/app/farragone/farragone-0.1.0.tar.gz') }}">Source (0.1.0, 33.1KiB)</a></strong></li>
</ul>
<h2>Screenshots</h2>
<p><strong>0.1.0, Linux</strong></p>
<p><img src="{{ site.link('/resources/img/app/farragone/main.png') }}" alt="main window" width="970" height="534"></p>

{% include 'include/footer.html.j2' %}
