{% set page_title = 'GCEdit' %}
{% include 'include/header.html.j2' %}
{% set license = 'GPL_V3' %}
{% include 'include/license.html.j2' %}

<p>GCEdit is a GameCube disk image editor for manipulating the GameCube filesystem like any other file manager.  This is an early release, but long-term goals are:</p>
<p><b>Speed</b>.  Other GameCube tools tend to regenerate the entire disk for every change; in GCEdit, this is not the case: changes can take as little as a couple of seconds.  Compression is done in-place, so no extra disk space or memory is required.</p>
<p><b>Usability</b>.  File management has undo and redo functionality, drag-and-drop to copy or move files, and a 'breadcrumb'-style address bar for easy browsing.  All actions have keyboard shortcuts; these are consistent with other applications, and are remappable from within GCEdit.  Operations that make changes to the disk can be paused and resumed, and, up to a point, canceled.  A trash system is planned, whereby items deleted from a disk can be restored, even after changes have been written to it.  Also planned is drag-and-drop between different disks in open instances of GCEdit, and import and extract via drag-and-drop.</p>
<p><b>Featurefulness</b>.  Importing files into the disk and extracting them from it are already supported, along with disk compression and decompression and file search (including RegEx support).  Future plans include a multi-paned view of the filesystem to make transferring files between directories easier.</p>
<h2>Download</h2>
<p>Again, this is an early release, so expect bugs and general instability, and not many features.  Most of the important stuff should work, though.</p>
<p>Note that a Windows binary is not yet available; this will have to wait until I've managed to get PyGTK 3 working in Windows (or someone else has).</p>
<p>Releases can be found at <a href="https://launchpad.net/gcedit/+download">Launchpad</a>.</p>
<ul>
    <li><strong><a href="https://aur.archlinux.org/packages/gcedit/">Arch Linux package (AUR)</a></strong></li>
    <li><strong><a href="https://github.com/ikn/gcedit">Git repository</a></strong></li>
</ul>
<h2>Screenshots</h2>
<p><strong>0.4.0, Linux</strong></p>
<p><img src="{{ site.link('resources/img/app/gcedit/main.png') }}" alt="main window" width="496" height="481"></p>
<p><strong>0.3.0, Linux</strong></p>
<p><img src="{{ site.link('resources/img/app/gcedit/loader.png') }}" alt="disk loader" width="402" height="256"></p>
<p><img src="{{ site.link('resources/img/app/gcedit/preferences - interface.png') }}" alt="preferences window, interface tab" width="469" height="332"></p>
<p><img src="{{ site.link('resources/img/app/gcedit/preferences - advanced.png') }}" alt="preferences window, advanced tab" width="469" height="332"></p>
<p><img src="{{ site.link('resources/img/app/gcedit/find.png') }}" alt="find window" width="602" height="331"></p>
<p><img src="{{ site.link('resources/img/app/gcedit/write progress.png') }}" alt="write progress window" width="402" height="222"></p>

{% include 'include/footer.html.j2' %}
