{% set page_title = 'Applications' %}
{% include 'include/header.html.j2' %}

<ul>
    <li><a href="{{ site.link('app/gcedit') }}">GCEdit</a>: GameCube disk image editor</li>
    <li><a href="{{ site.link('/app/farragone') }}">Farragone</a>: batch file renamer</li>
</ul>

{% include 'include/footer.html.j2' %}
