/* general behaviours */
:root {
    scroll-behavior: smooth;
}

/* overall layout */
#compositions-container {
    display: flex;
    align-items: flex-start;
}
#compositions {
    margin-right: 60px;
}
@media (max-width: 600px) {
    #compositions-container {
        flex-direction: column;
    }
    #compositions {
        margin-right: 0;
        margin-bottom: 12px;
    }
}

/* compositions section */
#compositions table {
    border-collapse: collapse;
}
#compositions > table {
    margin-bottom: 12px;
}
#compositions .composition-extra-groupings table {
    margin-top: 6px;
}
#compositions table td {
    background: url(w.4.png); background: rgba(255, 255, 255, 0.4);
    text-align: center;
}
#compositions table td.empty {
    background: url(w.2.png); background: rgba(255, 255, 255, 0.2);
}
#compositions table td {
    border: 1px solid #babaff;
    padding: 0;
}
#compositions table td a {
    display: block;
}
#compositions table td a, #compositions table td.empty {
    width: {{ max_role_icon_size[0] }}px;
    min-width: {{ max_role_icon_size[0] }}px;
    height: {{ max_role_icon_size[1] }}px;
    min-height: {{ max_role_icon_size[1] }}px;
    padding: 9px 6px;
}

/* roles section */
#roles h3 img {
    vertical-align: -3px;
}
#roles li img {
    vertical-align: middle;
}
