{% set page_title = 'fsmanage' %}
{% include 'include/header.html.j2' %}
{% set license = 'GPL_V3' %}
{% include 'include/license.html.j2' %}

<p>A Python 3 library for working with arbitrary filesystems.  This is not yet usable.</p>
<p>This is a rewrite of a module with the same name, which provided an inflexible GTK3 interface; the old version is included in the <i>legacy</i> directory in the download.</p>
<h2>Documentation</h2>
<p><a href="doc">API documentation</a>.</p>
<h2>Download</h2>
<p><a href="https://github.com/ikn/fsmanage">Git repository</a>.</p>

{% include 'include/footer.html.j2' %}
