{% set page_title = 'gw2buildutil' %}
{% include 'include/header.html.j2' %}
{% set license = 'BSD_NEW' %}
{% include 'include/license.html.j2' %}

<p>gw2buildutil is a Python 3 library for working with <a href="https://www.guildwars2.com">Guild Wars 2</a> builds.</p>
<p>It includes:</p>
<ul>
    <li>A parser for a human-readable text-based file format for defining builds.</li>
    <li>A parser and generator for build template codes.</li>
    <li>A simple caching API crawler and object-based interface (for unauthenticated endpoints only).</li>
    <li>An automatic raids composition generator, based on boon uptimes.</li>
</ul>
<p>This is undocumented for the moment.</p>
<h2>Download</h2>
<ul>
    <li><strong><a href="{{ site.link('download/lib/gw2buildutil/gw2buildutil-0.4.tar.gz') }}">Source (0.4, 28.7KiB)</a></strong></li>
    <li><strong><a href="https://aur.archlinux.org/packages/python-gw2buildutil/">Arch Linux package (AUR)</a></strong></li>
    <li><strong><a href="https://pypi.org/project/gw2buildutil/">Python package (PyPI)</a></strong></li>
    <li><strong><a href="https://github.com/ikn/gw2buildutil">Git repository</a></strong></li>
</ul>
<h3>Older versions</h3>
<ul>
    <li><strong><a href="{{ site.link('download/lib/gw2buildutil/gw2buildutil-0.3.tar.gz') }}">Source (0.3, 24.4KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/lib/gw2buildutil/gw2buildutil-0.2.tar.gz') }}">Source (0.2, 22.0KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/lib/gw2buildutil/gw2buildutil-0.1.tar.gz') }}">Source (0.1, 18.7KiB)</a></strong></li>
<ul>

{% include 'include/footer.html.j2' %}
