{% set page_title = 'gw2buildutil' %}
{% include 'include/header.html.j2' %}
{% set license = 'BSD_NEW' %}
{% include 'include/license.html.j2' %}

<p>gw2buildutil is a Python 3 library for working with <a href="https://www.guildwars2.com">Guild Wars 2</a> builds.  There isn't a released version yet.</p>
<h2>Download</h2>
<ul>
    <li><strong><a href="https://github.com/ikn/gw2buildutil">Git repository</a></strong></li>
</ul>

{% include 'include/footer.html.j2' %}
