{% set page_title = 'Libraries' %}
{% include 'include/header.html.j2' %}

<ul>
    <li><a href="game-engine">Game engine</a> (Python 2 or 3)</li>
    <li><a href="pyepgdb">pyepgdb</a>: Tvheadend epgdb parser (Python 3)</li>
    <li><a href="fsmanage">fsmanage</a>: file management (Python 3)</li>
    <li><a href="python">Python modules</a></li>
</ul>

{% include 'include/footer.html.j2' %}
