{% set page_title = 'boom' %}
{% include 'include/header.html.j2' %}
{% set license = 'GPL_V3' %}
{% include 'include/license.html.j2' %}
{% set license = 'CC_BY_SA_V3' %}
{% include 'include/license.html.j2' %}
{% set license = 'CC0_V1' %}
{% include 'include/license.html.j2' %}

<p>A 2-player battle game made for <a href="http://www.ludumdare.com/compo/">Ludum Dare</a> 28 (December 2013), for the theme 'you only get one'.  The battle plays out using mines: each player can throw any number of dummy mines and only one real one.  However, one player's 'real' mine is a dud, and neither player knows which.  A player can detonate all of his mines at any time, and can use lasers 3 times to destroy (without detonating) every placed mine.</p>
<p>The game ends once the real mine has been detonated or destroyed, and the winner is the player left alive, if any. If both players are alive, the player who had the real mine loses.</p>
<h2>Download</h2>
<h3>Update</h3>
<p>A version with some later fixes and improvements.</p>
<ul>
    <li><strong><a href="{{ site.link('download/game/boom/boom-update.tar.gz') }}">Source (506KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/game/boom/boom-win-update.zip') }}">Windows binary (6.35MiB)</a></strong></li>
</ul>
<h3>Original</h3>
<p>This is the version I had after the 48-hour competition.</p>
<ul>
    <li><strong><a href="{{ site.link('download/game/boom/boom-ld.tar.gz') }}">Source (499KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/game/boom/boom-win-ld.zip') }}">Windows binary (6.35MiB)</a></strong></li>
</ul>
<h2>Screenshots</h2>
<p><img src="{{ site.link('resources/img/game/boom/screen 1.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/boom/screen 2.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/boom/screen 3.png') }}" alt="screenshot" width="960" height="540"></p>

{% include 'include/footer.html.j2' %}
