{% set page_title = 'Unintentional Christmas Tree' %}
{% include 'include/header.html.j2' %}
{% set license = 'BSD_NEW' %}
{% include 'include/license.html.j2' %}

<?php license("BSD-new"); ?>
<p>This is a game I made for <a href="http://www.glorioustrainwrecks.com/node/2097">Pirate Kart V</a> in February 2012.  The idea is to move the floor left and right so that the falling blocks land on the right colour, then release them once you've gathered a lot up to get points.</p>
<h2>Download</h2>
<ul>
    <li><strong><a href="{{ site.link('download/game/christmas/christmas-pk.tar.gz') }}">Source (35.3KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/game/christmas/christmas-win-pk.zip') }}">Windows binary (5.76MiB)</a></strong></li>
</ul>
<h2>Screenshots</h2>
<p><img src="{{ site.link('resources/img/game/christmas/screen 1.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/christmas/screen 2.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/christmas/screen 3.png') }}" alt="screenshot" width="960" height="540"></p>

{% include 'include/footer.html.j2' %}<strong>
