{% set page_title = 'Colour Blind' %}
{% include 'include/header.html.j2' %}

<p>A 2-player co-operative puzzle platformer made for a 48-hour competition in November 2012 for the theme 'blindfolded players' (...may not include the theme yet).  Also made by <a href="https://github.com/davidwalton3142">David Walton</a> and <a href="https://github.com/Anstow">David Watson</a>.  No license as of yet - assume all rights reserved.  For source downloads, use the <a href="https://github.com/Anstow/colour-blind">GitHub repository</a>.</p>
<h2>Play</h2>
<p>This is the latest playable version (593KiB), including some changes made after the end of the competition.  Play using WASD (works with the Dvorak keyboard layout too) and the arrow keys (S/down to toggle switches).  There's a level editor you can play around with: F2 to toggle it, escape to show the available things, mouse to do stuff with the things.  Making switches do stuff is complicated: see <a href="https://github.com/Anstow/colour-blind/blob/master/README.txt">the readme</a> for details.</p>
<p>An Adobe-compatible Flash player is required.</p>
<p><object data="{{ site.link('download/game/colour-blind/colour-blind-latest.swf') }}" type="application/x-shockwave-flash" width="960" height="540"></object></p>
<h2>Older versions</h2>
<ul>
    <li><strong><a href="{{ site.link('download/game/colour-blind/colour-blind-48h.swf') }}">48-hour version (486KiB)</a></strong></li>
</ul>

{% include 'include/footer.html.j2' %}
