{% set page_title = 'Damage Control' %}
{% include 'include/header.html.j2' %}
{% set license = 'GPL_V3' %}
{% include 'include/license.html.j2' %}

<p>A strategy game where you have to stop a rumour about you from propagating.  I made this for a 2-week competition in January 2013, with the theme 'voices'.  I left it quite unfinished, the idea doesn't really work, some important UI elements are missing and I think there are some game-breaking bugs, but hey, it's a thing.  Click on stuff and maybe you'll figure it out.</p>
<h2>Download</h2>
<ul>
    {% include 'include/project/releases-latest.html.j2' %}
</ul>
<h2>Screenshots</h2>
<p><img src="{{ site.link('resources/img/game/damage-control/screen 1.png') }}" alt="screenshot" width="1000" height="600"></p>
<p><img src="{{ site.link('resources/img/game/damage-control/screen 2.png') }}" alt="screenshot" width="1000" height="600"></p>
<p><img src="{{ site.link('resources/img/game/damage-control/screen 3.png') }}" alt="screenshot" width="1000" height="600"></p>

{% include 'include/footer.html.j2' %}
