{% set page_title = 'Fitting In' %}
{% include 'include/header.html.j2' %}
{% set license = 'GPL_V3' %}
{% include 'include/license.html.j2' %}

<p>A simple puzzle platformer started in June 2012.  To finish each level, collect the things; these change the playable character's size.  Further details are in the included readme.</p>
<h2>Download</h2>
<ul>
    {% include 'include/project/releases-latest.html.j2' %}
</ul>
<h2>Screenshots</h2>
<p><img src="{{ site.link('resources/img/game/fitting-in/level 1.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/fitting-in/level 2.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/fitting-in/level 4.png') }}" alt="screenshot" width="960" height="540"></p>

{% include 'include/footer.html.j2' %}
