{% set page_title = 'Games' %}
{% include 'include/header.html.j2' %}

<h2>Some games</h2>
<ul>
    <li><strong><a href="wvoas">World View of a Slime</a></strong> (June 2012) [<strong>puzzle platformer</strong>]</li>
    <li><strong><a href="spaaace">Spaaace</a></strong> (November 2011) [<strong>action/arcade</strong>] [<em>1-4-player</em>]</li>
</ul>
<h2>Some more games</h2>
<ul>
    <li><strong><a href="wearhouse">Wearhouse</a></strong> (December 2012) [<strong>puzzle platformer</strong>] [<em>in development</em>]</li>
    <li><strong><a href="colour-blind">Colour Blind</a></strong> (November 2012) [<strong>puzzle platformer</strong>] [<em>2-player</em>] [<em>in development</em>]</li>
    <li><strong><a href="o">o</a></strong> (November 2012) [<strong>abstract puzzle/action</strong>] [<em>in development</em>]</li>
    <li><strong><a href="latof">Life and Times of Frog?</a></strong> (October 2012) [<strong>point-and-click adventure</strong>] [<em>in development</em>]</li>
    <li><strong><a href="fitting-in">Fitting In</a></strong> (June 2012) [<strong>puzzle platformer</strong>] [<em>in development</em>]</li>
    <li><strong><a href="sequence">Sequence</a></strong> (February 2012) [<strong>abstract puzzle</strong>] [<em>in development</em>]</li>
    <li><strong><a href="apologise">Can't Even Apologise</a></strong> (December 2011) [<strong>puzzle platformer</strong>]</li>
</ul>
<h2>Even more games</h2>
<ul>
    <li><strong><a href="boom">boom</a></strong> (December 2013) [<strong>action/battle</strong>] [<em>2-player</em>]</li>
    <li><strong><a href="ipnep">It's Probably Not Even Paint</a></strong> (April 2013) [<strong>action/strategy</strong>] [<em>2-player</em>]</li>
    <li><strong><a href="orbits">Orbits</a></strong> (February 2013) [<strong>action/arcade</strong>]</li>
    <li><strong><a href="christmas">Unintentional Christmas Tree</a></strong> (February 2012) [<strong>action/arcade</strong>]</li>
    <li><strong><a href="pong">Pong</a></strong> (October 2011) [<strong>action/arcade</strong>] [<em>1-4-player</em>]</li>
    <li><strong><a href="brjaf">Brain Requirement Just A Formality</a></strong> (December 2010) [<strong>abstract puzzle</strong>]</li>
</ul>
<h2>Abandoned games</h2>
<p>Games where even the basic idea wasn't finished, but which are still somewhat playable.</p>
<ul>
    <li><strong><a href="mcrk">Magic Carpet Robot Kerfuffle</a></strong> (June 2013) [<strong>action/strategy</strong>] [<em>2-player</em>]</li>
    <li><strong><a href="damage-control">Damage Control</a></strong> (January 2013) [<strong>strategy</strong>]</li>
    <li><strong><a href="watlged">What Are Those Little Guys Even Doing</a></strong> (August 2012) [<strong>action/arcade</strong>]</li>
</ul>

{% include 'include/footer.html.j2' %}
