{% set page_title = 'Magic Carpet Robot Kerfuffle' %}
{% include 'include/header.html.j2' %}

<p>A 2-player competitive strategy game made for a 48-hour competition in June 2013.  Also made by <a href="https://github.com/Starspell">Sarah Marshall</a>, <a href="https://github.com/davidwalton3142">David Walton</a> and <a href="https://github.com/Murtag">Matthew Piper</a>.  No license as of yet - assume all rights reserved.  For source downloads, use the <a href="https://github.com/Starspell/Magic-Carpet-Robot-Racing">GitHub repository</a>.</p>
<p>The game never really got finished, but the idea is for both players to manoeuvre the carpet by moving thrusters and cannons around on it, one aiming to destroy the targets and the other aiming to move through the gates.</p>
<h2>Play</h2>
<p>This is the latest playable version (5.27MiB).  Play using WASD (works with the Dvorak keyboard layout too) and the arrow keys (hold space/shift to grab blocks).</p>
<p>An Adobe-compatible Flash player is required.</p>
<p><object data="{{ site.link('download/game/mcrk/mcrk-latest.swf') }}" type="application/x-shockwave-flash" width="1000" height="700"></object></p>

{% include 'include/footer.html.j2' %}
