{% set page_title = 'Orbits' %}
{% include 'include/header.html.j2' %}
{% set license = 'GPL_V3' %}
{% include 'include/license.html.j2' %}

<p>A 2- to 4-player battle game made for a 48-hour competition in February 2013, with the theme 'time'.  Also made by <a href="https://github.com/davidwalton3142">David Walton</a>, <a href="https://github.com/Anstow">David Watson</a> and <a href="https://github.com/Gazok">Jamie Bayne</a>.  The players control planets orbiting a star and can fire asteroids at each other.  There's no scoring, health or endgame, and we didn't get around to adding some of the things we planned, but it's still playable.</p>
<h2>Download</h2>
<ul>
    {% include 'include/project/releases-latest.html.j2' %}
</ul>
<h2>Screenshots</h2>
<p><img src="{{ site.link('resources/img/game/orbits/screen 1.png') }}" alt="screenshot" width="960" height="720"></p>
<p><img src="{{ site.link('resources/img/game/orbits/screen 2.png') }}" alt="screenshot" width="960" height="720"></p>
<p><img src="{{ site.link('resources/img/game/orbits/screen 3.png') }}" alt="screenshot" width="960" height="720"></p>
<p><img src="{{ site.link('resources/img/game/orbits/screen 4.png') }}" alt="screenshot" width="960" height="720"></p>

{% include 'include/footer.html.j2' %}
