{% set page_title = 'Spaaace' %}
{% include 'include/header.html.j2' %}
{% set license = 'BSD_NEW' %}
{% include 'include/license.html.j2' %}
{% set license = 'CC0_V1' %}
{% include 'include/license.html.j2' %}

<p>This is a game I made for a 48-hour competition in November 2011.  It's a multiplayer physics-based top-down 'race' set in space, where the idea is to knock your opponents into the [insert hazard here]-ified borders of the screen while avoiding rocks.  Controls and other details are in the included readme.</p>
<h2>Download</h2>
<h3>Update</h3>
<p>These downloads have some additions beyond the minor changes outlined below, including better menus, controller support, crash damage and powerups.</p>
<ul>
    <li><strong><a href="{{ site.link('download/game/spaaace/spaaace-update2.tar.gz') }}">Source (5.05MiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/game/spaaace/spaaace-win-update2.zip') }}">Windows binary (10.9MiB)</a></strong></li>
</ul>
<p>An older updated version:</p>
<ul>
    <li><strong><a href="{{ site.link('download/game/spaaace/spaaace-update.tar.gz') }}">Source (5.05MiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/game/spaaace/spaaace-win-update.zip') }}">Windows binary (10.8MiB)</a></strong></li>
</ul>
<h3>Fixes</h3>
<p>These have a few fixes and performance improvements made after the competition, but no gameplay changes or additions beyond adjusting some parameters.</p>
<ul>
    <li><strong><a href="{{ site.link('download/game/spaaace/spaaace-fixes.tar.gz') }}">Source (5.05MiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/game/spaaace/spaaace-win-fixes.zip') }}">Windows binary (10.9MiB)</a></strong></li>
</ul>
<h3>Original</h3>
<p>This is the version I had after the 48-hour competition.</p>
<ul>
    <li><strong><a href="{{ site.link('download/game/spaaace/spaaace-48h.tar.gz') }}">Source (7.28MiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/game/spaaace/spaaace-win-48h.zip') }}">Windows binary (12.4MiB)</a></strong></li>
</ul>
<h2>Screenshots</h2>
<p><img src="{{ site.link('resources/img/game/spaaace/screen 1.png') }}" alt="screenshot" width="1050" height="525"></p>
<p><img src="{{ site.link('resources/img/game/spaaace/screen 2.png') }}" alt="screenshot" width="1050" height="525"></p>

{% include 'include/footer.html.j2' %}
