{% set page_title = 'Spaaace' %}
{% include 'include/header.html.j2' %}
{% set license = 'BSD_NEW' %}
{% include 'include/license.html.j2' %}
{% set license = 'CC0_V1' %}
{% include 'include/license.html.j2' %}

<p>This is a game I made for a 48-hour competition in November 2011.  It's a multiplayer physics-based top-down 'race' set in space, where the idea is to knock your opponents into the [insert hazard here]-ified borders of the screen while avoiding rocks.  Controls and other details are in the included readme.</p>
<h2>Download</h2>
<ul>
    {% include 'include/project/releases-latest.html.j2' %}
</ul>
<h3>Older versions</h3>
<ul>
    {% include 'include/project/releases-old.html.j2' %}
</ul>
<h2>Screenshots</h2>
<p><img src="{{ site.link('resources/img/game/spaaace/screen 1.png') }}" alt="screenshot" width="1050" height="525"></p>
<p><img src="{{ site.link('resources/img/game/spaaace/screen 2.png') }}" alt="screenshot" width="1050" height="525"></p>

{% include 'include/footer.html.j2' %}
