{% set page_title = 'What Are Those Little Guys Even Doing' %}
{% include 'include/header.html.j2' %}
{% set license = 'GPL_V3' %}
{% include 'include/license.html.j2' %}

<p>A top-down arena shooter made for <a href="http://www.ludumdare.com/compo/">Ludum Dare</a> 24 in August 2012, for the theme 'evolution'.  The game never got finished, and I never submitted it, but there's still something to do.</p>
<h2>Download</h2>
<ul>
    <li><strong><a href="{{ site.link('download/game/watlged/watlged-1.tar.gz') }}">Source (268KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/game/watlged/watlged-win-1.zip') }}">Windows binary (6.05MiB)</a></strong></li>
</ul>
<h2>Screenshots</h2>
<p><img src="{{ site.link('resources/img/game/watlged/screen 1.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/watlged/screen 2.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/watlged/screen 3.png') }}" alt="screenshot" width="960" height="540"></p>

{% include 'include/footer.html.j2' %}
