{% set page_title = 'Wearhouse' %}
{% include 'include/header.html.j2' %}
{% set license = 'GPL_V3' %}
{% include 'include/license.html.j2' %}
{% set license = 'CC_BY_SA_V3' %}
{% include 'include/license.html.j2' %}
{% set license = 'CC0_V1' %}
{% include 'include/license.html.j2' %}

<p>A puzzle platformer made for <a href="http://www.ludumdare.com/compo/">Ludum Dare</a> 25 (December 2012), which had the theme 'you are the villain'.  In this game, you're infiltrating some bad guy's warehouse, and can change clothes to look like him using wardrobes inside; doing so stops the guard robots from chasing you.</p>
<h2>Download</h2>
<ul>
    <li><strong><a href="{{ site.link('download/game/wearhouse/wearhouse-2.tar.gz') }}">Source (release 2, 954KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/game/wearhouse/wearhouse-win-2.zip') }}">Windows binary (release 2, 6.74MiB)</a></strong></li>
</ul>
<hr>
<ul>
    <li><strong><a href="{{ site.link('download/game/wearhouse/wearhouse-1.tar.gz') }}">Source (release 1, 953KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/game/wearhouse/wearhouse-win-1.zip') }}">Windows binary (release 1, 6.74MiB)</a></strong></li>
</ul>
<hr>
<ul>
    <li><strong><a href="{{ site.link('download/game/wearhouse/wearhouse-ld.tar.gz') }}">Source (competition version, 955KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/game/wearhouse/wearhouse-win-ld.zip') }}">Windows binary (competition version, 6.74MiB)</a></strong></li>
</ul>
<h2>Screenshots</h2>
<p><img src="{{ site.link('resources/img/game/wearhouse/level 3.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/wearhouse/level 4.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/wearhouse/level 5.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/wearhouse/level 7.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/wearhouse/level 9.png') }}" alt="screenshot" width="960" height="540"></p>

{% include 'include/footer.html.j2' %}
