{% set page_title = 'World View of a Slime' %}
{% include 'include/header.html.j2' %}
{% set license = 'GPL_V3' %}
{% include 'include/license.html.j2' %}
{% set license = 'CC0_V1' %}
{% include 'include/license.html.j2' %}

<p>This is a 2D puzzle platformer I originally made for a 48-hour competition in June 2012, for the theme 'tiny screen size'.  The idea is that the world only exists within a small window that can be moved around by the player.  Controls and other details are in the included readme.</p>
<h2>Download</h2>
<ul>
    <li><strong><a href="{{ site.link('download/game/wvoas/wvoas-2.tar.gz') }}">Source (release 2, 9.87MiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/game/wvoas/wvoas-win-2.zip') }}">Windows binary (release 2, 15.8MiB)</a></strong></li>
</ul>
<h3>Older versions</h3>
<ul>
    <li><strong><a href="{{ site.link('download/game/wvoas/wvoas-1.tar.gz') }}">Source (release 1, 9.70MiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/game/wvoas/wvoas-win-1.zip') }}">Windows binary (release 1, 15.6MiB)</a></strong></li>
</ul>
<p>This is the version I had after the 48-hour competition:</p>
<ul>
    <li><strong><a href="{{ site.link('download/game/wvoas/wvoas-48h.tar.gz') }}">Source (original, 9.50MiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/game/wvoas/wvoas-win-48h.zip') }}">Windows binary (original, 15.4MiB)</a></strong></li>
</ul>
<h2>Screenshots</h2>
<p><img src="{{ site.link('resources/img/game/wvoas/level 0.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/wvoas/level 2.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/wvoas/level 9.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/wvoas/level 16.png') }}" alt="screenshot" width="960" height="540"></p>
<p><img src="{{ site.link('resources/img/game/wvoas/level 20.png') }}" alt="screenshot" width="960" height="540"></p>

{% include 'include/footer.html.j2' %}
