{% set page_title = 'Pouncing Spider' %}
{% include 'include/header.html.j2' %}
{% set license = 'MIR_OS' %}
{% include 'include/license.html.j2' %}

<p>A Dustforce custom map about dashing from walls.</p>
<p>Probably about as hard as Night Temple.</p>
<p><img src="{{ site.link('resources/img/dustforce/pouncing-spider.png') }}" width="382" height="182"></p>
<h2>Download</h2>
<ul>
    <li><strong><a href="http://atlas.dustforce.com/4489/pouncing-spider">Atlas</a></strong></li>
    <li><strong><a href="{{ site.link('download/dustforce/Pouncing Spider') }}">map (67.2KiB)</a></strong></li>
</ul>

{% include 'include/footer.html.j2' %}
