{% set page_title = 'Scientific Method' %}
{% include 'include/header.html.j2' %}
{% set license = 'MIR_OS' %}
{% include 'include/license.html.j2' %}

<p>My first Dustforce custom map.  It's been a fun experience.</p>
<p>Mechanics-wise, I just put a load of stuff I like together.  It's mostly about hitting stuff.</p>
<p>I would say difficulty is like Scaffolding.</p>
<p><img src="{{ site.link('resources/img/dustforce/scientific-method.png') }}" width="382" height="182"></p>
<h2>Download</h2>
<ul>
    <li><strong><a href="http://atlas.dustforce.com/4635/scientific-method">Atlas</a></strong></li>
    <li><strong><a href="{{ site.link('download/dustforce/Scientific Method') }}">map (243KiB)</a></strong></li>
</ul>

{% include 'include/footer.html.j2' %}
