{% include 'include/header.html.j2' %}
{% include 'include/gw2/builds-header.html.j2' %}

<p>Builds for <a href="https://www.guildwars2.com">Guild Wars 2</a>.  This is not intended to cover every profession, game mode, role or playstyle: of the builds I've put together, these are just the ones I liked enough to maintain.  However, specifically for boon-sharing in raids, I've collected a few builds from other people, to cover all the roles.</p>

<p>None of these builds use attribute infusions.  If you have some of those, you might benefit from changing some of the other gear.</p>

{% set header_level = 2 %}
{% include 'include/gw2/grouped-builds.html.j2' %}

{% include 'include/footer.html.j2' %}
