{% set page_title = 'I know nothing' %}
{% include 'include/header.html.j2' %}

<p>This is a site containing various things I've made.  Links to stuff are in the menu on the left.</p>
<p><b>Contact</b>: ikn@ikn.org.uk</p>
<p><b>GitHub</b>: <a href="https://github.com/ikn">https://github.com/ikn</a></p>

{% include 'include/footer.html.j2' %}
