{% set page_title = 'CurlFtpFS-NG' %}
{% include 'include/header.html.j2' %}
{% set license = 'GPL_V2' %}
{% include 'include/license.html.j2' %}

<p>CurlFtpFS-NG is a <a href="https://en.wikipedia.org/wiki/Filesystem_in_Userspace">FUSE</a> filesystem for <a href="https://en.wikipedia.org/wiki/File_Transfer_Protocol">FTP</a>.  This project is a fork of the unmaintained <a href="http://curlftpfs.sourceforge.net/">CurlFtpFS</a>.  I don't have any great plans, just fixing a bug that has already been fixed in various places and in various ways, but now as a piece of software that has a name.</p>
<h2>Download</h2>
<ul>
    {% include 'include/project/releases-latest.html.j2' %}
    <li><strong><a href="https://aur.archlinux.org/packages/curlftpfs-ng/">Arch Linux package (AUR)</a></strong></li>
    <li><strong><a href="https://github.com/ikn/curlftpfs-ng">Git repository</a></strong></li>
</ul>
<h3>Older versions</h3>
<ul>
    {% include 'include/project/releases-old.html.j2' %}
</ul>
<p>Older releases can be found at <a href="https://sourceforge.net/projects/curlftpfs/files/">SourceForge</a>.</p>

{% include 'include/footer.html.j2' %}
