{% set page_title = 'gw2-tools' %}
{% include 'include/header.html.j2' %}
{% set license = 'BSD_NEW' %}
{% include 'include/license.html.j2' %}

<p>gw2-tools is a collection of small <a href="https://www.guildwars2.com">Guild Wars 2</a> tools which run in Unix-like environments.</p>
<dl>
    <dt>gw2-dpsreport</dt>
    <dd>Upload a day's arcdps logs to <a href="https://dps.report">dps.report</a>.</dd>
    <dt>gw2-arcdps-install</dt>
    <dd>Install <a href="https://www.deltaconnected.com/arcdps/">arcdps</a>.</dd>
</dl>
<h2>Download</h2>
<ul>
    {% include 'include/project/releases-latest.html.j2' %}
    <li><strong><a href="https://aur.archlinux.org/packages/gw2-tools">Arch Linux package (AUR)</a></strong></li>
    <li><strong><a href="https://github.com/ikn/gw2-tools">Git repository</a></strong></li>
</ul>
<h3>Older versions</h3>
<ul>
    {% include 'include/project/releases-old.html.j2' %}
</ul>

{% include 'include/footer.html.j2' %}
