{% set page_title = 'Tools' %}
{% include 'include/header.html.j2' %}

<ul>
    <li><a href="curlftpfs-ng">CurlFtpFS-NG</a>: FUSE filesystem for FTP</li>
    <li><a href="xorg-choose-window">xorg-choose-window</a>: window chooser for Xorg</li>
    <li><a href="tellmewhen">tellmewhen</a>: timing utility</li>
    <li><a href="pacman-expire-cache">pacman-expire-cache</a>: pacman cache cleaner</li>
    <li><a href="pwrnotify">pwrnotify</a>: battery status notifier</li>
    <li><a href="gw2-tools">gw2-tools</a>: simple Guild Wars 2 utilities</li>
    <li><a href="jsession">jsession</a>: X session manager</li>
    <li><a href="tvheadend-safe-restart">tvheadend-safe-restart</a>: restart Tvheadend unless it's recording</li>
    <li><a href="scripts">Scripts</a></li>
</ul>

{% include 'include/footer.html.j2' %}
