{% set page_title = 'pwrnotify' %}
{% include 'include/header.html.j2' %}
{% set license = 'GPL_V3' %}
{% include 'include/license.html.j2' %}

<p>pwrnotify is a simple battery status notifier for Linux using libnotify.  It uses the newer <i>/sys/class</i> interface and doesn't support the deprecated (since 2.6.39) <i>/proc/acpi</i> one.</p>
<h2>Usage</h2>
<p>pwrnotify checks status every 30 seconds and displays a notification when the battery level falls below any of the integer percentages passed as arguments.</p>
<h2>Download</h2>
<ul>
    {% include 'include/project/releases-latest.html.j2' %}
    <li><strong><a href="https://aur.archlinux.org/packages/pwrnotify/">Arch Linux package (AUR)</a></strong></li>
    <li><strong><a href="https://github.com/ikn/pwrnotify">Git repository</a></strong></li>
</ul>
<h3>Older versions</h3>
<ul>
    {% include 'include/project/releases-old.html.j2' %}
</ul>

{% include 'include/footer.html.j2' %}
