{% set page_title = 'tellmewhen' %}
{% include 'include/header.html.j2' %}
{% set license = 'GPL_V3' %}
{% include 'include/license.html.j2' %}

<p>tellmewhen is a utility for managing short timers in real time, created with difficult video games in mind.  It's designed to be flexible in that it doesn't use a specific input system (eg. provide your own hotkey daemon) and doesn't use a specific notification mechanism (eg. provide your own audio player or message display system).</p>
<h2>Download</h2>
<ul>
    {% include 'include/project/releases-latest.html.j2' %}
    <li><strong><a href="https://aur.archlinux.org/packages/tellmewhen/">Arch Linux package (AUR)</a></strong></li>
    <li><strong><a href="https://github.com/ikn/tellmewhen">Git repository</a></strong></li>
</ul>
<h3>Older versions</h3>
<ul>
    {% include 'include/project/releases-old.html.j2' %}
</ul>

{% include 'include/footer.html.j2' %}
