{% set page_title = 'tvheadend-safe-restart' %}
{% include 'include/header.html.j2' %}
{% set license = 'BSD_NEW' %}
{% include 'include/license.html.j2' %}

<p>tvheadend-safe-restart is a script which restarts <a href="https://tvheadend.org/">Tvheadend</a> unless it's recording (using <a href="https://www.freedesktop.org/wiki/Software/systemd/">systemd</a>).</p>
<h2>Download</h2>
<ul>
    <li><strong><a href="{{ site.link('download/tool/tvheadend-safe-restart/tvheadend-safe-restart-1.0.tar.gz') }}">Source (1.0, 2.06KiB)</a></strong></li>
    <li><strong><a href="https://aur.archlinux.org/packages/tvheadend-safe-restart">Arch Linux package (AUR)</a></strong></li>
    <li><strong><a href="https://github.com/ikn/tvheadend-safe-restart">Git repository</a></strong></li>
</ul>

{% include 'include/footer.html.j2' %}
