{% set page_title = 'xorg-choose-window' %}
{% include 'include/header.html.j2' %}
{% set license = 'APACHE' %}
{% include 'include/license.html.j2' %}

<p>xorg-choose-window is a utility for choosing from visible windows in Xorg, aimed at tiling window managers.  For example, you might focus the chosen window, or close it, or swap it with the currently focused window.</p>
<p>Similar to <a href="http://www.vimperator.org/vimperator">Vimperator</a>'s hints, or <a href="https://tmux.github.io/">tmux</a>'s <i>display-panes</i>.</p>
<h2>Download</h2>
<ul>
    <li><strong><a href="{{ site.link('download/tool/xorg-choose-window/xorg-choose-window-0.2.0.tar.gz') }}">Source (0.2.0, 14.6KiB)</a></strong></li>
    <li><strong><a href="https://aur.archlinux.org/packages/xorg-choose-window/">Arch Linux package (AUR)</a></strong></li>
    <li><strong><a href="https://github.com/ikn/xorg-choose-window">Git repository</a></strong></li>
</ul>
<h3>Older versions</h3>
<ul>
    <li><strong><a href="{{ site.link('download/tool/xorg-choose-window/xorg-choose-window-0.1.2.tar.gz') }}">Source (0.1.2, 12.7KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/tool/xorg-choose-window/xorg-choose-window-0.1.1.tar.gz') }}">Source (0.1.1, 12.6KiB)</a></strong></li>
    <li><strong><a href="{{ site.link('download/tool/xorg-choose-window/xorg-choose-window-0.1.0.tar.gz') }}">Source (0.1.0, 9.49KiB)</a></strong></li>
</ul>
<h2>Screenshots</h2>
<p><strong>0.1.0</strong></p>
<p><img src="{{ site.link('resources/img/tool/xorg-choose-window/screen.png') }}" alt="entire desktop" width="1920" height="1061"></p>

{% include 'include/footer.html.j2' %}
